# ============================================================
snippet @code "Doxygen @code declare"
	@code
	*   ${1:content}
	* @endcode${0}
# ============================================================
snippet /** "Doxygen doc declare"
	/**
	 * @brief ${1:desc}
	 */${0}
# ============================================================
