extends c
# ============================================================
snippet forit "iterator for loop declare"
	for(${1:map}::iterator ${2:it} = ${3:m}.begin(); $2 != $3.end(); ++$2)
	{
		${5:contents}
	}$0
# ============================================================
