# ============================================================
snippet cat "string concat"
	..
# ============================================================
snippet for "for loop"
	for ${1:i}=${2:start},${3:end}${4:,step} do
		${5}
	end${0}
# ============================================================
