# ============================================================
snippet cat "string concat"
	..
# ============================================================
snippet for "for loop"
	for ${1:i}=${2:start},${3:end}${4:,step} do
		${5}
	end${0}
# ============================================================
snippet for_table "for loop for table"
	for ${2:k,v} in pairs(${1:table}) do
		${3}
	end{$0}
# ============================================================
