# ============================================================
snippet snip "snippet define"
	# ============================================================
	snippet ${1:snip_key} "${2:desc}"
		xxx \${1:xxx} xxx\$0$0
# ============================================================
