# ============================================================
snippet snip "snippet define"
	# ============================================================
	snippet ${1:snip_key} "${2:desc}"
		${0}
# ============================================================
