priority -10

# ============================================================
snippet @code "Doxygen @code declare" iA
@code
*   ${1:${content}}
* @endcode
endsnippet

# ============================================================
snippet doc "Doxygen doc declare" b
/**
 * @brief ${1:${desc}}
 */
endsnippet

