priority -10

extends c

# ============================================================
snippet forit "iterator for loop declare" bm
for(${1:${map}}::iterator ${2:it} = ${3:${m}}.begin(); `!p snip.rv = t[2]` != `!p snip.rv = t[3]`.end(); ++`!p snip.rv = t[2]`)
{
	${5:${contents}}
}${6}
endsnippet

