priority -10

# ============================================================
snippet cron "crontab expand" bm
${4:# minute [0-59]
# hour [0-23]
# day of month [1-31]
# month [1-12]
# day of week [0-6]
# user command
}${2:59} ${3:0} ${4:*} ${5:*} ${6:*} ${1:command}
endsnippet

