priority -10

# ============================================================
snippet template "file template" bm
<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>${1:title}</title>
	</head>
	<body>
		<script src='${2:lib.js}'></script>
		<script>
			${3:console.log('hello world');}
		</script>
	</body>
</html>${4}
endsnippet

